In [1]:
import pandas as pd
import numpy as np

In [2]:
DataFileName = 'purchase_data.json'

In [3]:
Item_Purchase_Data_df = pd.read_json(DataFileName)

In [4]:
Item_Purchase_Data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
NumofPlayers = Item_Purchase_Data_df['SN'].drop_duplicates().count()
NumofPlayers_df = pd.DataFrame({'Number of Players': NumofPlayers}, index =[0])
NumofPlayers_df
#NumofPlayers_df = pd.DataFrame(data=NumofPlayers_dict)

   Number of Players
0                573

In [6]:
#Number of Unique Items
Unique_Items_df = Item_Purchase_Data_df.groupby('Item Name').nunique()
Unique_Items_Num = len(Unique_Items_df['Item Name'])

#Average Purchase Price
Avg_PurchPrice = Item_Purchase_Data_df['Price'].mean()

#Total Number of Purchases
Total_Purch = len(Item_Purchase_Data_df.index)

#Total Revenue
Total_Revenue = Item_Purchase_Data_df['Price'].sum()


#Print results to a dataframe
Purch_Analysis_df = pd.DataFrame({'Average Price': Avg_PurchPrice,'Number of Unique Items': Unique_Items_Num
                                 ,'Total Revenue':Total_Revenue,'Number of Purchases':Total_Purch},index =[0])

Purch_Analysis_df['Average Price'] = Purch_Analysis_df['Average Price'].map("{0:,.2f}%".format)
Purch_Analysis_df['Total Revenue'] = Purch_Analysis_df['Total Revenue'].map("${0:,.2f}".format)
Purch_Analysis_df = Purch_Analysis_df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
Purch_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         2.93%                  780     $2,286.33

In [7]:
#Make a DF of unique SNs
Unique_SN_df = Item_Purchase_Data_df.drop_duplicates('SN', keep = 'last')

#Make a DF of just males
Males_df = Unique_SN_df[Unique_SN_df['Gender'] == 'Male']

#Make a DF of just Females
Females_df = Unique_SN_df[Unique_SN_df['Gender'] == 'Female']

#Make a DF of just people who identify as Other
Other_df = Unique_SN_df[Unique_SN_df['Gender'] == 'Other / Non-Disclosed']

#Find the number of each gender
Num_Males = len(Males_df.index)
Num_Females = len(Females_df.index)
Num_Other = len(Other_df.index)

#Find the Percentage of each gender
Males_Perc = Num_Males/NumofPlayers*100
Females_Perc = Num_Females/NumofPlayers*100
Other_Perc = Num_Other/NumofPlayers*100

#Create a DF of the results
Gender_Analysis_df = pd.DataFrame({'Percentage of Players': [Males_Perc,Females_Perc,Other_Perc],'Total Count':[Num_Males,Num_Females,Num_Other]},index =['Male','Female','Other'])

#Formatting
Gender_Analysis_df['Percentage of Players'] = Gender_Analysis_df['Percentage of Players'].map("{0:,.2f}%".format)

Gender_Analysis_df

       Percentage of Players  Total Count
Male                  81.15%          465
Female                17.45%          100
Other                  1.40%            8

In [8]:
#Purchase Counts 

#Male Purchase Counts and average
Male_Purchases_df =Item_Purchase_Data_df[Item_Purchase_Data_df['Gender'] == 'Male']
Male_Num = len(Male_Purchases_df.index)
Percent_Male = Male_Num/NumofPlayers
Avg_Male_Purch = Male_Purchases_df['Price'].mean()
Sum_Male_Purch = Male_Purchases_df['Price'].sum()
Norm_Male_Purch = Sum_Male_Purch/Male_Num

#Female Purchase Counts and average
Female_Purchases_df =Item_Purchase_Data_df[Item_Purchase_Data_df['Gender'] == 'Female']
Female_Num = len(Female_Purchases_df.index)
Percent_Female = Female_Num/NumofPlayers
Avg_Female_Purch = Female_Purchases_df['Price'].mean()
Sum_Female_Purch = Female_Purchases_df['Price'].sum()
Norm_Female_Purch = Sum_Female_Purch/Female_Num

#Other Purchase Counts and average
Other_Purchases_df = Item_Purchase_Data_df[Item_Purchase_Data_df['Gender'] == 'Other / Non-Disclosed']
Other_Num = len(Other_Purchases_df.index)
Percent_Other = Other_Num/NumofPlayers
Avg_Other_Purch = Other_Purchases_df['Price'].mean()
Sum_Other_Purch = Other_Purchases_df['Price'].sum()
Norm_Other_Purch = Sum_Other_Purch/Other_Num

Gender_Purch_df = pd.DataFrame({'Purchase Count':[Male_Num,Female_Num,Other_Num],'Average Purchase Price':[Avg_Male_Purch, Avg_Female_Purch,Avg_Other_Purch],'Total Purchase Value':[Sum_Male_Purch,Sum_Female_Purch,Sum_Other_Purch],'Normalized Totals':[Norm_Male_Purch,Norm_Female_Purch,Norm_Other_Purch]}, index = ['Male','Female','Other'])

Gender_Purch_df['Average Purchase Price'] = Gender_Purch_df['Average Purchase Price'].map("${0:,.2f}".format)
Gender_Purch_df['Normalized Totals'] = Gender_Purch_df['Normalized Totals'].map("${0:,.2f}".format)
Gender_Purch_df['Total Purchase Value'] = Gender_Purch_df['Total Purchase Value'].map("${0:,.2f}".format)

In [9]:
Gender_Purch_df

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
Male,$2.95,$2.95,633,"$1,867.68"
Female,$2.82,$2.82,136,$382.91
Other,$3.25,$3.25,11,$35.74