In [1]:
import pandas as pd
import numpy as np

In [2]:
DataFileName = 'purchase_data.json'

In [3]:
Item_Purchase_Data_df = pd.read_json(DataFileName)

In [4]:
Item_Purchase_Data_df.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
NumofPlayers = Item_Purchase_Data_df['SN'].drop_duplicates().count()
NumofPlayers_df = pd.DataFrame({'Number of Players': NumofPlayers}, index =[0])
NumofPlayers_df
#NumofPlayers_df = pd.DataFrame(data=NumofPlayers_dict)

   Number of Players
0                573

In [46]:
#Number of Unique Items
Unique_Items_df = Item_Purchase_Data_df.groupby('Item Name').nunique()
Unique_Items_Num = len(Unique_Items_df['Item Name'])

#Average Purchase Price
Avg_PurchPrice = Item_Purchase_Data_df['Price'].mean()

#Total Number of Purchases
Total_Purch = len(Item_Purchase_Data_df.index)

#Total Revenue
Total_Revenue = Item_Purchase_Data_df['Price'].sum()


#Print results to a dataframe
Purch_Analysis_df = pd.DataFrame({'Average Price': Avg_PurchPrice,'Number of Unique Items': Unique_Items_Num
                                 ,'Total Revenue':Total_Revenue,'Number of Purchases':Total_Purch},index =[0])

Purch_Analysis_df['Average Price'] = Purch_Analysis_df['Average Price'].map("${0:,.2f}".format)
Purch_Analysis_df['Total Revenue'] = Purch_Analysis_df['Total Revenue'].map("${0:,.2f}".format)
Purch_Analysis_df = Purch_Analysis_df[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
Purch_Analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $2.93                  780     $2,286.33

In [7]:
#Make a DF of unique SNs
Unique_SN_df = Item_Purchase_Data_df.drop_duplicates('SN', keep = 'last')

#Make a DF of just males
Males_df = Unique_SN_df[Unique_SN_df['Gender'] == 'Male']

#Make a DF of just Females
Females_df = Unique_SN_df[Unique_SN_df['Gender'] == 'Female']

#Make a DF of just people who identify as Other
Other_df = Unique_SN_df[Unique_SN_df['Gender'] == 'Other / Non-Disclosed']

#Find the number of each gender
Num_Males = len(Males_df.index)
Num_Females = len(Females_df.index)
Num_Other = len(Other_df.index)

#Find the Percentage of each gender
Males_Perc = Num_Males/NumofPlayers*100
Females_Perc = Num_Females/NumofPlayers*100
Other_Perc = Num_Other/NumofPlayers*100

#Create a DF of the results
Gender_Analysis_df = pd.DataFrame({'Percentage of Players': [Males_Perc,Females_Perc,Other_Perc],'Total Count':[Num_Males,Num_Females,Num_Other]},index =['Male','Female','Other'])

#Formatting
Gender_Analysis_df['Percentage of Players'] = Gender_Analysis_df['Percentage of Players'].map("{0:,.2f}%".format)

Gender_Analysis_df

       Percentage of Players  Total Count
Male                  81.15%          465
Female                17.45%          100
Other                  1.40%            8

In [8]:
#Purchase Counts 

#Male Purchase Counts and average
Male_Purchases_df =Item_Purchase_Data_df[Item_Purchase_Data_df['Gender'] == 'Male']
Male_Num = len(Male_Purchases_df.index)
Percent_Male = Male_Num/NumofPlayers
Avg_Male_Purch = Male_Purchases_df['Price'].mean()
#Sum_Male_Purch = Male_Purchases_df['Price'].sum()
Male_Unique_df = Unique_SN_df[Unique_SN_df['Gender']=='Male']
Male_Unique_Num = len(Male_Unique_df.index)
Sum_Male_Purch = Male_Unique_df['Price'].sum()
Norm_Male_Purch = Sum_Male_Purch/Male_Unique_Num

#Female Purchase Counts and average
Female_Purchases_df =Item_Purchase_Data_df[Item_Purchase_Data_df['Gender'] == 'Female']
Female_Num = len(Female_Purchases_df.index)
Percent_Female = Female_Num/NumofPlayers
Avg_Female_Purch = Female_Purchases_df['Price'].mean()
#Sum_Female_Purch = Female_Purchases_df['Price'].sum()
Female_Unique_df = Unique_SN_df[Unique_SN_df['Gender']=='Female']
Female_Unique_Num = len(Female_Unique_df.index)
Sum_Female_Purch = Female_Unique_df['Price'].sum()
Norm_Female_Purch = Sum_Female_Purch/Female_Unique_Num

#Other Purchase Counts and average
Other_Purchases_df = Item_Purchase_Data_df[Item_Purchase_Data_df['Gender'] == 'Other / Non-Disclosed']
Other_Num = len(Other_Purchases_df.index)
Percent_Other = Other_Num/NumofPlayers
Avg_Other_Purch = Other_Purchases_df['Price'].mean()
#Sum_Other_Purch = Other_Purchases_df['Price'].sum()
Other_Unique_df = Unique_SN_df[Unique_SN_df['Gender']=='Other / Non-Disclosed']
Other_Unique_Num = len(Other_Unique_df.index)
Sum_Other_Purch = Other_Unique_df['Price'].sum()
Norm_Other_Purch = Sum_Other_Purch/Other_Unique_Num

Gender_Purch_df = pd.DataFrame({'Purchase Count':[Female_Num,Male_Num,Other_Num],'Average Purchase Price':[Avg_Female_Purch, Avg_Male_Purch,Avg_Other_Purch],'Total Purchase Value':[Sum_Female_Purch,Sum_Male_Purch,Sum_Other_Purch],'Normalized Totals':[Norm_Female_Purch,Norm_Male_Purch,Norm_Other_Purch]}, index = ['Female','Male','Other'])

Gender_Purch_df['Average Purchase Price'] = Gender_Purch_df['Average Purchase Price'].map("${0:,.2f}".format)
Gender_Purch_df['Normalized Totals'] = Gender_Purch_df['Normalized Totals'].map("${0:,.2f}".format)
Gender_Purch_df['Total Purchase Value'] = Gender_Purch_df['Total Purchase Value'].map("${0:,.2f}".format)

Gender_Purch_df = Gender_Purch_df[['Purchase Count','Average Purchase Price','Total Purchase Value','Normalized Totals']]
Gender_Purch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Female,136,$2.82,$273.36,$2.73
Male,633,$2.95,"$1,351.73",$2.91
Other,11,$3.25,$25.83,$3.23

In [9]:
Age_Max = Item_Purchase_Data_df['Age'].max()
Age_Bin = [0,10,14,19,24,29,34,39,Age_Max]
Bin_Title = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

Item_Purchase_Data_df['Age Range'] = pd.cut(Item_Purchase_Data_df['Age'], Age_Bin,labels=Bin_Title)

#Group by age range to get basid df
Age_df = Item_Purchase_Data_df.groupby("Age Range")
#This gets the age range count
Age_Count_df = pd.DataFrame(Age_df['Age Range'].count())
#We now need to add a column to the df that has the percentage of the total for each age range
Age_Count_df['Percentage of Players'] = Age_Count_df['Age Range']/NumofPlayers*100

#Format the Percentage of Players column to two decimals and a percentage
Age_Count_df['Percentage of Players'] = Age_Count_df['Percentage of Players'].map("{0:,.2f}%".format)

Age_Count_df = Age_Count_df[['Percentage of Players','Age Range']]
Age_Count_df = Age_Count_df.rename(columns={"Age Range":"Total Count"})
Age_Count_df

          Percentage of Players  Total Count
Age Range
<10                       5.58%           32
10-14                     5.41%           31
15-19                    23.21%          133
20-24                    58.64%          336
25-29                    21.82%          125
30-34                    11.17%           64
35-39                     7.33%           42
40+                       2.97%           17

In [10]:
#Purchase Analysis By Age
Purch_Count_df = pd.DataFrame(Age_df['Item ID'].count())
Purch_AvgPrice_df = pd.DataFrame(Age_df['Price'].mean())
Purch_TotalPrice_df = pd.DataFrame(Age_df['Price'].sum())

#Unique Bins
Unique_Age_Max = Unique_SN_df['Age'].max()

Unique_SN_df['Age Range'] = pd.cut(Unique_SN_df['Age'], Age_Bin,labels=Bin_Title)
Unique_Age_df = Unique_SN_df.groupby('Age Range')
Unique_Age_Count_df = pd.DataFrame(Unique_Age_df['Age Range'].count())
Norm_Purch_total_df = Purch_TotalPrice_df/Unique_Age_Count_df.values[0,:]

Purch_Count_df['Average Purchase Price'] = Purch_AvgPrice_df
Purch_Count_df['Total Purchase Value'] = Purch_TotalPrice_df
Purch_Count_df['Normalized Totals'] = Norm_Purch_total_df

Purch_Count_df = Purch_Count_df.rename(columns={'Item ID':'Purchase Count'})
Purch_Count_df['Average Purchase Price'] = Purch_Count_df['Average Purchase Price'].map("${0:,.2f}".format)
Purch_Count_df['Total Purchase Value'] = Purch_Count_df['Total Purchase Value'].map("${0:,.2f}".format)
Purch_Count_df['Normalized Totals'] = Purch_Count_df['Normalized Totals'].map("${0:,.2f}".format)
Purch_Count_df

C:\Users\micha\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Range,,,,
<10,32,$3.02,$96.62,$4.39
10-14,31,$2.70,$83.79,$3.81
15-19,133,$2.91,$386.42,$17.56
20-24,336,$2.91,$978.77,$44.49
25-29,125,$2.96,$370.33,$16.83
30-34,64,$3.08,$197.25,$8.97
35-39,42,$2.84,$119.40,$5.43
40+,17,$3.16,$53.75,$2.44

In [31]:
#Top Spender

#Calculate the Top buyer, Total Spent, and Average Spent
Top_Buys_df = pd.DataFrame(Item_Purchase_Data_df.groupby('SN')['Price'].count())
Total_Price_df = pd.DataFrame(Item_Purchase_Data_df.groupby('SN')['Price'].sum())
Avg_Buys_df = pd.DataFrame(Item_Purchase_Data_df.groupby('SN')['Price'].mean())

#Reset the index to merge the df
Top_Buys_df = Top_Buys_df.reset_index()
Total_Price_df = Total_Price_df.reset_index()
Avg_Buys_df = Avg_Buys_df.reset_index()

#Merge the Top Buys df with the Average Price df
Top_Spender_df = pd.merge(Top_Buys_df,Avg_Buys_df, how='outer', on='SN')
Top_Spender_df= Top_Spender_df.rename(columns={'Price_x':'Purchase Count','Price_y':'Average Purchase Price'})

#Merge the previous df with the total price df
Top_Spender_df = pd.merge(Top_Spender_df,Total_Price_df, how='outer', on='SN')
Top_Spender_df= Top_Spender_df.rename(columns={'Price':'Total Purchase Value'})

Top_Spender_df = Top_Spender_df.sort_values('Total Purchase Value', ascending = False)
Top_Spender_df= Top_Spender_df.set_index('SN')
Top_Spender_df['Average Purchase Price'] = Top_Spender_df['Average Purchase Price'].map("${0:,.2f}".format)
Top_Spender_df['Total Purchase Value'] = Top_Spender_df['Total Purchase Value'].map("${0:,.2f}".format)
Top_Spender_df.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66               5                  $3.41               $17.06
Saedue76                  4                  $3.39               $13.56
Mindimnya67               4                  $3.18               $12.74
Haellysu29                3                  $4.24               $12.73
Eoda93                    3                  $3.86               $11.58

In [41]:
#Most Popular Items
Item_ID_df = Item_Purchase_Data_df[['Item ID','Item Name','Price']]
Item_Sum_df = pd.DataFrame(Item_Purchase_Data_df.groupby('Item ID')['Price'].sum())
Item_Count_df = pd.DataFrame(Item_Purchase_Data_df.groupby('Item ID')['Item Name'].count())

#Prepare dfs to be merged
Item_ID_df = pd.DataFrame(Item_ID_df.drop_duplicates())
Item_Sum_df = Item_Sum_df.reset_index()
Item_Count_df = Item_Count_df.reset_index()

#Merge each independed df
Pop_Item_df = pd.merge(Item_ID_df, Item_Count_df, how='inner',on = 'Item ID')
Pop_Item_df = Pop_Item_df.rename(columns={'Item Name_x':'Item Name','Item Name_y':'Purchase Count'})
Pop_Item_df = pd.merge(Pop_Item_df,Item_Sum_df,how='inner',on='Item ID')
Pop_Item_df = Pop_Item_df.rename(columns={'Price_x':'Item Price','Price_y':'Total Purchase Value'})
Pop_Item_df = Pop_Item_df.set_index('Item ID')

#Format df 
Most_Pop_Item_df = Pop_Item_df[['Item Name','Purchase Count','Item Price','Total Purchase Value']]
Most_Pop_Item_df = Most_Pop_Item_df.sort_values('Purchase Count',ascending=False)
Most_Pop_Item_df['Item Price'] = Most_Pop_Item_df['Item Price'].map("${0:,.2f}".format)
Most_Pop_Item_df['Total Purchase Value'] = Most_Pop_Item_df['Total Purchase Value'].map("${0:,.2f}".format)

Most_Pop_Item_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
84,Arcane Gem,11,$2.23,$24.53
175,Woeful Adamantite Claymore,9,$1.24,$11.16
13,Serenity,9,$1.49,$13.41
31,Trickster,9,$2.07,$18.63

In [45]:
Most_Profitable_Item_df = Pop_Item_df[['Item Name','Purchase Count','Item Price','Total Purchase Value']]
Most_Profitable_Item_df = Most_Profitable_Item_df.sort_values('Total Purchase Value',ascending=False)

Most_Profitable_Item_df['Item Price'] = Most_Profitable_Item_df['Item Price'].map("${0:,.2f}".format)
Most_Profitable_Item_df['Total Purchase Value'] = Most_Profitable_Item_df['Total Purchase Value'].map("${0:,.2f}".format)
Most_Profitable_Item_df.head(5)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
34,Retribution Axe,9,$4.14,$37.26
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
103,Singed Scalpel,6,$4.87,$29.22
107,"Splitter, Foe Of Subtlety",8,$3.61,$28.88